@model ProductManagementApp.Models.Product

@{
    ViewData["Title"] = "Tank Details";
}

<h2>@Model.Name</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditDescription" asp-route-id="@Model.Id" class="btn btn-primary">Edit Description</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
